.about {
    padding: 100px 0 50px;
}

.about__title {
    margin-bottom: 45px;
}

.about__container {
    display: grid;
    grid-template-columns: minmax(450px, 600px) minmax(400px, 500px);
    grid-template-areas: 
        'image text'
        'image quote';
    justify-content: space-between;
    column-gap: 30px;
}

.about__img {
    grid-area: image;
}

.about__texts {
    grid-area: text;
    margin-bottom: 59px;
}

.about__text {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 28px;
    white-space: pre-line;
}

.about__text:last-child {
    margin: 0;    
}

.about__quote {
    grid-area: quote;
    font-size: 44px;
    font-weight: 400;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0;
}

.quote__text {    
    max-width: 400px;
    margin-bottom: 31px;
    padding-left: 31px;
    position: relative;
}

.quote__text::before {
    content: "\201C";
    position: absolute;
    left: 0;   
    top: -12px; 
    color: #6C0287;
    font-weight: 900;
}

.quote__text-colored {
    color: #6C0287;
    font-weight: 900;
}

.quote__wrapper {
    text-align: right;
}

.quote__boss {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    text-transform: none;
    text-align: left;
    display: inline-block;
    max-width: 389px;
    padding: 0 30px 0 109px;
    position: relative;
}

.quote__boss::before {
    content: "";
    width: 80px;
    height: 80px;
    background: url("../imgs/arkady.jpg") 50% 20%/cover no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 50%;
}

@media (max-width: 1280px) {
    .about {
    padding: 70px 0 32px;
    }

    .about__title {
        margin-bottom: 26px;
    }

    .about__container {
        display: grid;
        grid-template-columns: minmax(300px, 420px) minmax(350px, 444px);
    }

    .about__texts {
        margin-bottom: 43px;
    }

    .about__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .about__quote {
        font-size: 30px;
        line-height: 36px;
    }

    .quote__text {    
        margin-bottom: 20px;
        padding-left: 25px;
    }

    .quote__boss {
        font-size: 18px;
        line-height: 26px;
        max-width: 330px;
        padding: 0 5px 0 105px;
    }

    .quote__boss::before {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 900px) {
    .about {
        padding: 60px 0 30px;
    }

    .about__title {
        margin-bottom: 32px;
    }

    .about__container {
        grid-template-columns: minmax(250px, 382px) minmax(200px, 278px);
        grid-template-areas: 
            'image text'
            'quote quote';
        gap: 42px 28px;
    }

    .about__texts {
        padding-top: 67px;
    }

    .about__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 22px;
        white-space: normal;
    }

    .about__quote {
        font-size: 32px;
        line-height: 35px;
    }

    .quote__text { 
        max-width: 100%;   
        margin-bottom: 24px;
        padding-left: 22px;
    }

    .quote__boss {
        max-width: 320px;
        padding-left: 95px;
    }
}

@media (max-width: 760px) {
    .about__texts {
        padding-top: 0;
        align-self: center;
    }
}