.about {
    margin-bottom: 100px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 50px 0;
}

.about__texts {
    margin: 0 0 70px 0;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 28px 0;
}

.about__text:last-child {
    margin: 0;
}

.about__quote {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
}

.quote__text {    
    white-space: pre-line;
    margin: 0 0 40px 0;
    padding-left: 55px;
    position: relative;
}

.quote__text::before {
    content: "\201C";
    position: absolute;
    left: 0;   
    top: -8px; 
    color: #6C0287;
    font-weight: 900;
}

.quote__text-colored {
    color: #6C0287;
    font-weight: 900;
}

.quote__wrapper {
    text-align: right;
    margin: 0;
}

.quote__boss {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: none;
    font-style: normal;
    text-align: left;
    display: inline-block;
    width: 389px;
    padding: 0 30px 0 109px;
    position: relative;
}

.quote__boss::before {
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../imgs/arkady.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    border-radius: 50%;
}