.banner {
    padding: 25px 0 50px 0;
}

.banner__container {
    min-height: 823px;
    position: relative;    
}

.banner__container::after {
    content: "";
    position: absolute;
    background: url("../imgs/game.png") bottom right/cover no-repeat;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 30px;
}

.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin: 0;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    margin: 0;
    padding-left: 100px;
    margin-bottom: 31px;
}

.banner__block {
    display: flex;
    margin-bottom: 147px;
    align-items: flex-end;
    max-width: 400px;
    gap: 40px;
}

.block__item {
    display: flex;
    flex-direction: column;
    max-width: 193px;
    text-align: center;
}

.block__text-colored {
    font-weight: 900;
    color: #CD06FF;
    line-height: 1.41;
}

.block__text-colored_size_100 {
    font-size: 100px;
}

.block__text-colored_size_75 {
    font-size: 75px;
    font-variant: small-caps;
}

.block__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;    
}

.banner__button {
    display: inline-block;
    width: 374px;
    height: 80px;
    font-size: 26px;
    line-height: 30px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #6C0287;
    border: none;
    border-radius: 10px;
    position: relative;
    outline: 0;
    transition: background .3s ease-in;
}

.banner__button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #6C0287;
    filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner__button:hover {
    background-color: #840AA3;
}

.banner__button:focus {
    background-color: #840AA3;
}

.banner__button:active {
    background-color: #640AA3;
}

.banner__button-down {
    display: block;
    width: 97px;
    height: 97px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    background-image: url("../imgs/button-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background .3s ease-in,
                outline .3s ease-in;    
}

.banner__button-down:hover {
    background-image: url("../imgs/button-down-hover.svg");
}

.banner__button-down:focus {
    outline: 1px solid #CD06FF;;    
}

.banner__button-down:active {
    background-image: url("../imgs/button-down-active.svg");
    outline: 0;
}