.banner {
    padding: 25px 0 50px;
}

.banner__container {
    min-height: 823px;
    position: relative;    
}

.banner__container::after {
    content: "";
    position: absolute;
    background: url("../imgs/game.png") bottom right/cover no-repeat;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 30px;
}

.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin: 0;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    margin-bottom: 31px;
}

.banner__block {
    display: flex;
    margin-bottom: 147px;
    align-items: flex-end;
    max-width: 400px;
    gap: 40px;
}

.block__item {
    display: flex;
    flex-direction: column;
    max-width: 193px;
    text-align: center;
}

.block__text-colored {
    font-weight: 900;
    color: #CD06FF;
    line-height: 1.41;
}

.block__text-colored_size_100 {
    font-size: 100px;
}

.block__text-colored_size_75 {
    font-size: 75px;
    font-variant: small-caps;
}

.block__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;    
}

.banner__button {
    display: inline-block;
    width: 374px;
    height: 80px;
    font-size: 26px;
    line-height: 30px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #6C0287;
    border: none;
    border-radius: 10px;
    position: relative;
    outline: 0;
    transition: background .3s ease-in;
}

.banner__button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #6C0287;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner__button:hover {
    background-color: #840AA3;
}

.banner__button:focus {
    background-color: #840AA3;
}

.banner__button:active {
    background-color: #640AA3;
}

.banner__button-down {
    display: block;
    width: 97px;
    height: 97px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    background: url("../imgs/button-down.svg") center/cover no-repeat;
    transition: background .3s ease-in,
                outline .3s ease-in;    
}

.banner__button-down:hover {
    background-image: url("../imgs/button-down-hover.svg");
}

.banner__button-down:focus {
    outline: 1px solid #CD06FF;;    
}

.banner__button-down:active {
    background-image: url("../imgs/button-down-active.svg");
    outline: 0;
}

@media (max-width: 1280px) {
    .banner {
        padding: 15px 0 43px;
    }

    .banner__container {
        min-height: 583px;
    }

    .banner__container::after {
        width: 453px;
        height: 520px;
    }

    .banner__title {
        font-size: 120px;
        margin-bottom: 20px;
    }

    .banner__subtitle {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .banner__block {
        margin-bottom: 80px;
        max-width: 348px;
    }

    .block__item {
        max-width: 168px;
    }

    .block__text-colored_size_100 {
        font-size: 80px;
    }

    .block__text-colored_size_75 {
        font-size: 60px;
    }

    .block__text {
        font-size: 26px;
        line-height: 30px;
    }
    
    .banner__button {
        width: 296px;
        height: 64px;
        font-size: 22px;
        padding: 17px 48px;
        margin-left: 39px;
    }

    .banner__button-down {
        width: 67px;
        height: 67px;
        bottom: 46px;
        left: 50%;
    }
}

@media (max-width: 900px) {
    .banner {
        padding: 18px 0 40px;
    }

    .banner__container {
        min-height: 537px;
    }

    .banner__container::after {
        width: 419px;
        height: 479px;
        right: 20px;
    }

    .banner__title {
        font-size: 86px;
        padding-left: 5px;
    }

    .banner__subtitle {
        font-size: 18px;
        line-height: 24px;
        padding-left: 70px;
        margin-bottom: 52px;
    }

    .banner__block {
        max-width: 224px;
        margin-bottom: 100px;
        gap: 30px;
    }

    .block__item {
        max-width: 103px;
    }

    .block__text-colored_size_100 {
        font-size: 50px;
    }

    .block__text-colored_size_75 {
        font-size: 40px;
    }

    .block__text {
        font-size: 16px;
        line-height: 18px;
    }
    
    .banner__button {
        width: 214px;
        height: 46px;
        font-size: 16px;
        line-height: 24px;
        padding: 11px 34px;
        margin-left: 0;
        border-radius: 4px;
    }

    .banner__button-down {
        display: none;
    }
}

@media (max-width: 700px) {
    .banner__container::after {
        width: 350px;
        height: 399px;
        right: 20px;
    }
}    