.booking {
    margin-bottom: 100px;
}

.booking__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 50px 0;

}