.contacts__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 54px 0;
}

.contacts__items {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    max-width: 300px;  
    margin: 0 0 39px 0;
}

.contacts__item {
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center left;
    padding-left: 65px; 
    text-decoration: none;
    color: #FFFFFF;    
}

.contacts__item_type_address {
    background-image: url("../imgs/location.svg");
    margin: 0 0 38px 0;   
}

.contacts__item_type_phone {
    background-image: url("../imgs/phone.svg");
    margin: 0 0 11px 0;
}

.contacts__item_type_email {
    background-image: url("../imgs/envelope.svg");
    margin: 0;
}

.socials__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.socials__item {
    display: inline-block;
    margin: 0 26px 0 0;
    font-size: 0;
}

.socials__item:last-child {
    margin: 0;
}

.socials__link {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0;
}