.contacts {
    padding: 50px 0 10px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
    margin-bottom: 45px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 145px;
    gap: 30px;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    margin-bottom: 40px;
}

.contacts__item {
    padding-left: 60px; 
    text-decoration: none;
    outline: none;
    position: relative;
    outline: 1px solid transparent;
    transition: color .2s ease-in, 
                outline .2s ease-in;   
}

.contacts__item::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts__item_type_address {
    max-width: 300px;
    margin-bottom: 42px;   
}

.contacts__item_type_address::before {
    background: url("../imgs/location.svg") center left/32px no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

.contacts__item_type_phone {
    margin-bottom: 11px;
}

.contacts__item_type_phone::before {
    background: url("../imgs/phone-call.svg") center left/32px no-repeat;
}

.contacts__item_type_email {
    margin: 0;
}

.contacts__item_type_email::before {
    background: url("../imgs/envelope.svg") center left/32px no-repeat;
}

.contacts__item_type_phone:hover,
.contacts__item_type_email:hover {
    color: #EADEED;
}

.contacts__item_type_phone:focus,
.contacts__item_type_email:focus {
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.contacts__item_type_phone:active,
.contacts__item_type_email:active {
    color: #CD06FF;
    outline: 1px solid transparent;
}

.socials__list {
    font-size: 0;
    display: flex;
    align-items: center;
    max-width: 280px;
    gap: 26px;
}

.socials__item {
    font-size: 0;
}

.socials__link {
    outline: 1px solid transparent;
    transition: color .2s ease-in, 
                outline .2s ease-in;
}

.socials__link:hover {
    color: #EADEED;
}

.socials__link:focus {
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.socials__link:active {
    color:  #CD06FF;
    outline: 0;
}

.contacts__map {
    display: block;
    max-width: 680px;
    height: auto;
}

.contacts__copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.copyright__contact {
    text-align: right;
}

.copyright__designer {
    margin-bottom: 6px;
}

.copyright__link{
    display: inline-block;
    outline: 1px solid transparent;
    transition: color .2s ease-in, 
                outline .2s ease-in;
}

.copyright__link:hover{
    color: #EADEED;
}

.copyright__link:focus{
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.copyright__link:active{
    color: #CD06FF;
    outline: 0;
}

@media (max-width: 1280px) {
    .contacts {
        padding: 35px 0 19px;
    }

    .contacts__title {
        margin-bottom: 26px;
    }   
    
    .contacts__wrapper {
        margin-bottom: 95px;
        gap: 30px;
    }

    .contacts__item {
        padding-left: 40px; 
    }

    .contacts__item::before {
        width: 26px;
        height: 26px;
    }

    .contacts__item_type_address {
        max-width: 250px;
        margin-bottom: 45px;   
    }

    .contacts__item_type_address::before {
        background-size: 26px;
    }

    .contacts__item_type_phone {
        margin-bottom: 7px;
    }

    .contacts__item_type_phone::before {
        background-size: 26px;
    }

    .contacts__item_type_email::before {
        background-size: 26px;
    }

    .socials__list {
        max-width: 238px;
    }

    .socials__link svg{
        width: 40px;
        height: 40px;
    }

    .contacts__map {
        max-width: 542px;
        height: 274px;
    }
}

@media (max-width: 900px) {
    .contacts {
        padding: 35px 0 18px;
    }

    .contacts__title {
        margin-bottom: 30px;
    }   
    
    .contacts__wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
        gap: 30px;
    }

    .contacts__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__items {
        margin-bottom: 27px;
    }

    .contacts__item {
        text-align: center;
        padding-left: 0; 
    }

    .contacts__item_type_address {
        padding-left: 18px;
        margin-bottom: 32px;   
    }

    .contacts__item_type_address::before {
        background-size: 26px;
        top: 13px;
        left: 42px;
    }

    .contacts__item_type_phone {
        padding-left: 25px;
        margin-bottom: 27px;        
    }

    .contacts__item_type_phone::before {
        background-size: 26px;
        left: -5px;
    }

    .contacts__item_type_email::before {
        left: -39px;
    }

    .contacts__map {
        max-width: 100%;
        height: 337px;
    }
}

@media (max-width: 640px) {
    .contacts {
        padding: 15px 0 24px;
    }

    .contacts__title {
        margin-bottom: 15px;
    }   
    
    .contacts__wrapper {
        margin-bottom: 63px;
        gap: 35px;
    }

    .contacts__items {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .contacts__item {
        text-align: center;
        padding-left: 0; 
    }

    .contacts__item::before {
        width: 20px;
        height: 20px;
    }

    .contacts__item_type_address {
        max-width: 150px;
        padding-left: 0;
        margin-bottom: 10px;   
    }

    .contacts__item_type_address::before {
        background-size: 20px;
        top: 5px;
        left: 15px;
    }

    .contacts__item_type_phone {
        padding-left: 0;
        margin-bottom: 10px;        
    }

    .contacts__item_type_phone::before {
        background-size: 20px;
        top: -2px;
        left: -14px;
    }

    .contacts__item_type_email::before {
        background-size: 20px;
        top: -2px;
        left: -25px;
    }

    .socials__list {
        max-width: 180px;
        gap: 20px;
    }

    .socials__item svg{
        width: 30px;
        height: 30px;
    }

    .contacts__map {
        max-width: 100%;
        height: 194px;
        object-fit: cover;
        object-position: center;
    }

    .contacts__copyright {
        font-size: 12px;
        line-height: 16px;
        flex-direction: column;
        align-items: center;
    }

    .copyright__text {
        margin-bottom: 19px;
    }

    .copyright__contact {
        text-align: center;
    }

    .copyright__designer {
        margin-bottom: 5px;
    }
}