.faq {
    padding: 50px 0;
}

.faq__title {
    margin-bottom: 45px;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px; 
}

.faq__button {
    color: #1C1A1A;   
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 28px 70px;    
    background: url(../imgs/open.svg) center right 70px/46px no-repeat var(--main-color, #FFFFFF); 
    border: none;
    border: 2px solid transparent;  
    outline: 0;
    font-size: 24px;
    font-weight: 700;   
    line-height: 28px;
    transition: background-image .3s ease-in;
}

.faq__button:hover {
    background-image: url(../imgs/open-hover.svg);
}

.faq__button:active {
    background-image: url(../imgs/open-active.svg);
}

.faq__button:focus {
    border: 2px solid #440F51;
}

.faq__item:nth-child(even) .faq__button:focus{
    border: 2px solid #ffffff;
}

.faq__item:nth-child(even) .faq__button {
    color: var(--main-color, #FFFFFF);
    background-color: #440F51;
    background-image: url(../imgs/open-white.svg);
    transition: background-image .3s ease-in;
}

.faq__item:nth-child(even) .faq__button:hover {
    background-image: url(../imgs/open-white-hover.svg);
}

.faq__item:nth-child(even) .faq__button:active {
    background-image: url(../imgs/open-white-active.svg);
}

@media (max-width: 1280px) {
    .faq {
        padding: 35px 0 35px;
    }
    
    .faq__title {
        margin-bottom: 26px;
    }

    .faq__item:last-child {
        display: none; 
    }

    .faq__item:not(:last-child) {
        margin-bottom: 17px; 
    }

    .faq__item:nth-child(4) {
        margin-bottom: 0; 
    }

    .faq__button {
        padding: 21px 25px;    
        background-position: center right 20px;
        font-size: 20px;
        line-height: 24px;
    }

    .faq__item:nth-child(even) .faq__button {
        color: #1C1A1A;
        background: url(../imgs/open.svg) center right 20px/46px no-repeat var(--main-color, #FFFFFF);
    }

    .faq__item:nth-child(even) .faq__button:focus{
        border: 2px solid #440F51;
    }

    .faq__item:nth-child(even) .faq__button:hover {
        background-image: url(../imgs/open-hover.svg);
    }
    
    .faq__item:nth-child(even) .faq__button:active {
        background-image: url(../imgs/open-active.svg);
    }
}

@media (max-width: 900px) {
    .faq {
        padding: 24px 0 35px;
    }
    
    .faq__title {
        margin-bottom: 25px;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 15px; 
    }

    .faq__item:nth-child(4) {
        margin-bottom: 0; 
    }

    .faq__button {
        padding: 22px 54px;    
        background-position: center right 62px;
        font-size: 18px;
        line-height: 24px;
    }

    .faq__item:nth-child(even) .faq__button {
        color: #1C1A1A;
        background: url(../imgs/open.svg) center right 62px/46px no-repeat var(--main-color, #FFFFFF);
    }
}

@media (max-width: 640px) {
    .faq {
        padding: 15px 0;
    }
    
    .faq__title {
        margin-bottom: 15px;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 10px; 
    }

    .faq__item:nth-child(4) {
        margin-bottom: 0; 
    }

    .faq__button {
        width: 280px;
        height: 46px;
        padding: 5px 60px 5px 10px;    
        background-position: center right 12px;
        background-size: 30px;
        font-size: 12px;
        line-height: 16px;
    }

    .faq__item:nth-child(even) .faq__button {
        background: url(../imgs/open.svg) center right 12px/30px no-repeat var(--main-color, #FFFFFF);
    }
}