.faq {
    padding: 50px 0;
}

.faq__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px; 
}

.faq__button {
    color: #1C1A1A;   
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 30px 70px;    
    background: url(../imgs/open.svg) center right 70px/46px no-repeat var(--main-color, #FFFFFF); 
    border: 2px solid transparent;  
    outline: 0;
    font-size: 24px;
    font-weight: 700;   
    line-height: 28px;
    transition: background-image .3s ease-in;
}

.faq__button:hover {
    background-image: url(../imgs/open-hover.svg);
}

.faq__button:active {
    background-image: url(../imgs/open-active.svg);
}

.faq__button:focus {
    border: 2px solid #440F51;
}

.faq__item:nth-child(even) .faq__button:focus{
    border: 2px solid #ffffff;
}

.faq__item:nth-child(even) .faq__button {
    color: var(--main-color, #FFFFFF);
    background-color: #440F51;
    background-image: url(../imgs/open-white.svg);
    transition: background-image .3s ease-in;
}

.faq__item:nth-child(even) .faq__button:hover {
    background-image: url(../imgs/open-white-hover.svg);
}

.faq__item:nth-child(even) .faq__button:active {
    background-image: url(../imgs/open-white-active.svg);
}