.faq {
    padding-bottom: 100px;
}

.faq__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.faq__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq__item {
    margin: 0 0 20px 0; 
}

.faq__item:last-child {
    margin: 0;
}

.faq__button {
    color: #1C1A1A;   
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 30px 70px;    
    background-image: url(../imgs/open.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center right 70px;    
    background-color: #FFF; 
    border: 0;  
    font-weight: 700;
    font-size: 24px;   
    line-height: 28px;
}

.faq__item:nth-child(even) .faq__button {
    color: #FFF;
    background-color: #440F51;
    background-image: url(../imgs/open-white.svg);
}
