.feedback {
    padding: 50px 0;
}

.feedback__title {   
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;    
}

.feedback__item {
    margin: 0 0 50px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.feedback__item:last-child {
    margin: 0;
}

.feedback__person {
    display: inline-block;
    margin-right: 20px;
}

.feedback__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 11px;
    object-fit: cover;
}

.feedback__img_user_max {
    object-position: 50% top;
}

.feedback__img_user_oxana{
    object-position: 50% -45px;
}

.feedback__img_user_nikita {
    object-position: 50% -85px;
}

.feedback__caption {
    text-align: center; 
}

.feedback__text {
    max-width: 680px;
    display: inline-block;
    vertical-align: top;
    padding-top: 52px;
}