.feedback {
    padding: 50px 0;
}

.feedback__title {   
    margin-bottom: 45px;    
}

.feedback__list {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feedback__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 400;
    line-height: 28px;   
}

.feedback__person {
    flex: 1 0 280px;
    position: relative;
}

.feedback__person::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.feedback__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 4px;
    object-fit: cover;
}

.feedback__img_user_max {
    object-position: 50% top;
}

.feedback__img_user_oxana{
    object-position: 50% -45px;
}

.feedback__img_user_nikita {
    object-position: 50% -85px;
}

.feedback__caption {
    text-align: center; 
}

.feedback__text {
    max-width: 680px;
    padding-top: 52px;
}

.feedback__text_altered-320 {
    display: none;
}

@media (max-width: 1280px) {
    .feedback {
        padding: 35px 0;
    }

    .feedback__title {   
        margin-bottom: 26px;    
    }

    .feedback__list {
        padding: 0 79px 0 100px;
        gap: 40px;
    }

    .feedback__item {
        align-items: start;
        gap: 38px;
        font-size: 18px;
        line-height: 26px;   
    }

    .feedback__person {
        flex: 1 0 172px;
    }

    .feedback__person::before {
        width: 172px;
        height: 172px;
    }

    .feedback__img {
        width: 172px;
        height: 172px;
        margin-bottom: 13px;
    }

    .feedback__img_user_oxana{
        object-position: 50% -25px;
    }
    
    .feedback__img_user_nikita {
        object-position: 50% -50px;
    }

    .feedback__text {
        max-width: 680px;
        padding-top: 32px;
    }
}

@media (max-width: 900px) {
    .feedback {
        padding: 30px 0;
    }

    .feedback__title {   
        margin-bottom: 31px;    
    }

    .feedback__list {
        padding: 0 63px;
        gap: 30px;
    }

    .feedback__item {
        align-items: start;
        gap: 12px;
        font-size: 16px;
        line-height: 22px;  
    }

    .feedback__person {
        flex: 1 0 156px;
    }

    .feedback__person::before {
        width: 153px;
        height: 153px;
    }

    .feedback__img {
        width: 153px;
        height: 153px;
        margin-bottom: 11px;
    }

    .feedback__img_user_oxana{
        object-position: 50% -25px;
    }
    
    .feedback__img_user_nikita {
        object-position: 50% -50px;
    }

    .feedback__caption {
        font-size: 14px;
        line-height: 20px;
    }

    .feedback__text {
        max-width: 393px;
        padding-top: 30px;
    }
}

@media (max-width: 640px) {
    .feedback {
        padding: 15px 0;
    }

    .feedback__title {   
        margin-bottom: 14px;    
    }

    .feedback__list {
        padding: 0;
        gap: 20px;
    }

    .feedback__item {
        flex-direction: column;
        align-items: center;
        gap: 18px;
        font-size: 14px;
        line-height: 20px;
    }

    .feedback__person {
        text-align: center;
        flex: 1 0 100%;
    }

    .feedback__person::before {
        width: 86px;
        height: 86px;
    }

    .feedback__img {
        width: 86px;
        height: 86px;
        margin-bottom: 3px;
    }

    .feedback__img_user_oxana{
        object-position: 50% -10px;
    }
    
    .feedback__img_user_nikita {
        object-position: 50% -25px;
    }

    .feedback__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 280px;
        padding-top: 0;
    }

    .feedback__text_altered-320 {
        display: block;
    }
}