.feedback {
    padding: 50px 0;
}

.feedback__title {   
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;    
}

.feedback__list {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feedback__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;   
}

.feedback__person {
    flex: 1 0 280px;
    position: relative;
}

.feedback__person::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.feedback__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 11px;
    object-fit: cover;
}

.feedback__img_user_max {
    object-position: 50% top;
}

.feedback__img_user_oxana{
    object-position: 50% -45px;
}

.feedback__img_user_nikita {
    object-position: 50% -85px;
}

.feedback__caption {
    text-align: center; 
}

.feedback__text {
    max-width: 680px;
    padding-top: 52px;
}