html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    background-color: #1B1A1B;    
    color: var(--main-color, #FFFFFF);
    
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

fieldset {
    border: none;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    }

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .container {
        max-width: 964px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 964px;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 748px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 320px;
        padding: 0 20px;
    }
}