.halls {
    margin-bottom: 100px;
}

.halls__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 71px 0;
}

.halls__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.halls__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 60px;
    padding: 275px 410px;
}

.halls__item:last-child {
    margin: 0;
}

.halls__link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}