.halls {
    padding: 50px 0 100px;
}

.halls__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.halls__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    font-size: 0;    
}

.halls__item {
    background: center/cover no-repeat;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;    
}

.halls__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 95px 0;
    outline: 1px solid transparent;
    transition: color .2s ease-in;
}

.halls__link:hover {
    color: #EADEED;
}

.halls__text {
    display: inline-block;
    text-align: center;
    max-width: 250px;
    outline: 1px solid transparent;
    transition: color .2s ease-in, 
                outline .2s ease-in;
}

.halls__link:focus {
    outline: 1px solid transparent;
}

.halls__link:focus .halls__text{
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.halls__link:active .halls__text{
    color: #CD06FF;
    outline: 0;
}
