.halls {
    padding: 50px 0 100px;
}

.halls__title {
    margin-bottom: 45px;
}

.halls__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 0;    
}

.halls__item {
    background: center/cover no-repeat;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;    
}

.halls__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 95px 0;
    outline: 1px solid transparent;
    transition: color .2s ease-in;
}

.halls__link:hover {
    color: #EADEED;
}

.halls__text {
    display: inline-block;
    text-align: center;
    max-width: 250px;
    outline: 1px solid transparent;
    transition: color .2s ease-in, 
                outline .2s ease-in;
}

.halls__link:focus {
    outline: 1px solid transparent;
}

.halls__link:focus .halls__text{
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.halls__link:active .halls__text{
    color: #CD06FF;
    outline: 0;
}

@media (max-width: 1280px) {
    .halls {
        padding: 35px 0 70px;
    }

    .halls__title {
        margin-bottom: 36px;
    }

    .halls__item {
        font-size: 50px;
        line-height: 60px;
    }

    .halls__link {
        padding: 73px 0;
    }

    .halls__text {
        max-width: 200px;
    }
}

@media (max-width: 900px) {
    .halls {
        padding: 30px 0 62px;
    }

    .halls__title {
        margin-bottom: 35px;
    }

    .halls__list {
        gap: 18px 20px;
    }

    .halls__item {
        min-height: 200px;
        font-size: 40px;
        line-height: 50px;
    }

    .halls__link {
        padding: 62px 0 38px;        
    }

    .halls__text {
        max-width: 130px;
    }
}