.halls {
    padding: 50px 0 100px;
}

.halls__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.halls__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 0;    
}

.halls__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 135px 0;    
    flex: 1 1 580px;    
}

.halls__link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
}