.header {
    padding: 30px 0 25px;    
}

.header__container {
    display: flex;
    align-items: center;    
}

.header__logo {
    width: 120px;
    height: 66px;
    margin-right: 96px;
}

.header__nav {
    margin-right: auto;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;    
}

.header__item {
    font-size: 22px;
    line-height: 50px;  
    text-transform: uppercase;     
}

.header__link {
    color: #FFFFFF;
    transition: color .2s ease-in, 
                outline .2s ease-in;
}

.header__link:hover {
    color: #EADEED;
}

.header__link:focus {
    color: #EADEED;
    outline: 1px solid #CD06FF;
}

.header__link:active {
    color: #CD06FF;
    outline: 0;
}

.header__button {
    min-width: 280px;
    height: 55px;
    border: 3px solid #CD06FF;
    background-color: #1B1A1B;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0 13px;
    outline: 0;
    transition: background .2s ease-in,
                border .2s ease-in;    
}

.header__button:hover {
    background-color: #6C0287;
    border: 3px solid #6C0287;
}

.header__button:focus {
    background-color: #6C0287;
    border: 3px solid transparent;
}

.header__button:active {   
    background-color: #640AA3;
    border: 1px solid #000000;
}