@import 'global.css';
@import 'vars.css';
@import 'faq.css';
@import 'banner.css';
@import 'halls.css';
@import 'booking.css';
@import 'about.css';
@import 'contacts.css';
@import 'normalize.css';
@import 'feedback.css';
@import 'header.css';
@import 'we-have.css';
@import 'intro.css';
@import 'hall-has.css';
@import 'other-halls.css';
