* {
    box-sizing: border-box;
}

body {
    background-color: #1B1A1B;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-style: normal;
}

.wrapper {
    width: 1240px;
    padding: 146px 30px 51px;
    margin: 0 auto;
}