.we-have {
    padding: 50px 0;
}

.we-have__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    max-width: 800px;
    margin: 0 auto 41px;
}

.we-have__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.we-have__item {
    flex: 1 1 380px;
    font-weight: 700;
    line-height: 28px;
    font-size: 20px;
    height: 228px;
}

.we-have__caption {        
    padding: 166px 40px 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}