.we-have {
    padding: 50px 0 50px;
}

.we-have__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 auto 41px;
}

.we-have__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.we-have__item {
    flex: 1 1 380px;
    line-height: 28px;
    /* font-size: 20px; */
    height: 228px;
    transition: transform .4s ease-in;
    margin: 0;
}

.we-have__item:nth-child(2) {
    margin-top: 70px;
}

.we-have__item:nth-child(2n+4) {
    margin-top: -70px;
}

.we-have__item:hover {
    transform: scale(1.1, 1.1);    
}

.we-have__caption {        
    padding: 166px 40px 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}